* {
	box-sizing: border-box;
	font-size: 1.5rem;
}

html {
	background: #b3b3b3;
	padding: 5px;
}

body {
	background: #b3b3b3;
	padding: 5px;
	margin: 0;
  }

.flex-container {
	background: white;
	padding: 10px;
	border: 5px solid black;
	height: 1300px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.item-1 {
	background: #ff7300;
	color: white;
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
}

.item-2 {
	background: #ff9640;
	color: white;
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
	width: 250px;
	font-size: 1.8rem;
}

.item-3 {
	background: #ff9640;
	color: white;
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
	height: 250px;
	/* align-self: flex-start; */
}

.item-4 {
	background: #f5c096;
	color: white;
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
	width: 300px;
	height: 300px;
	/* order: 1; */
}

.item-5 {
	background: #d3c0b1;
	color: white;
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
	width: 350px;
	/* flex-grow: 1; */
	/* flex-shrink: 0; */
	flex: 0 1 auto;
}

.item-6 {
	background: #d3c0b1;
	color: white;
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
	width: 350px;
	/* flex-grow: 4; */
	/* flex-shrink: 4; */
}