@import 'variables';
@import 'typography.scss';

@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content
  }
}