@import 'variables';
@import 'typography.scss';

@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

html {
  font-size: 94.75%;

  @include media-min-width(40rem) {
    font-size: 125%
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  @include display-flex();
  flex: {
    direction: column;
    wrap: nowrap;
  }
  align-items: center;
  padding: $size-default * 3 0;
  box-sizing: border-box;
}

.sass-section {

}

.sass-introduction {

}

.sass-details {

}