.container {
  margin: 20px;
  height: 800px;
  display: grid;
  grid-template-columns: [hd-start] repeat(4, [col-start] 20% [col-end]) [hd-end];
  grid-template-rows: [hd-start] 5rem [hd-end row-2-start] minmax(10px, 20rem) [row-2-end row-3-start] 100px [row-3-end];
  gap: 10px;
  grid-template-areas:  "header header header header"
                        ". side main main"
                        "footer footer footer footer";
  justify-content: stretch;
  align-items: stretch;
}

@media (max-width: 40rem) {
  .container {
    grid-template-rows: [hd-start] 5rem [hd-end row-2-start] minmax(10px, 20rem) [row-2-end row-3-start] 150px [row-3-end row-4-start] 100px [row-4-end];
    grid-template-areas:  "header header header header"
                          "main main main main"
                          "side side side side"
                          "footer footer footer footer";
  }
}

.el1 {
  background: rgba(255, 154, 72, 0.5);
  grid-area: side;
}

.el2 {
  background: rgba(255, 0, 0, 0.5);
  grid-area: main;
}

.el3 {
  background: rgba(0, 128, 0, 0.5);
  grid-area: hd;
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
  grid-area: footer;
}